{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <lable>Symbol: &ensp;</lable>
            <input autocomplete="off" autofocus class="form-control" name="quote" placeholder="AAPL" type="text">
        </div>
        <div class="form-group">
            <lable>Shares: &ensp;</lable>

            <input autocomplete="off" type="number" class="form-control" min = 0 name="shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Go</button>
    </form>
{% endblock %}
