{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks %}
          <tr>
              <td>{{ stock.symbol }}</td>
              <td>{{ stock.name }}</td>
              <td>{{ stock.shares }}</td>
              <td>{{ stock.worth }}</td>
          </tr>
          {% endfor %}
          <tr>
              <td>CASH</td>
              <td></td>
              <td></td>
              <td>{{cash}}</td>
          </tr>
        </tbody>

      </table>
    </div>

{% endblock %}
