{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <lable>Symbol: &ensp;</lable>
            <select name="symbols" id="symbols" class="form-control">
                {% for stock in stocks %}
                    <option value = "{{ stock }}"> {{ stock }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <lable>Shares: &ensp;</lable>

            <input autocomplete="off" type="number" class="form-control" min = 0 name="shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
